<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link rel="stylesheet" href="css/Style.css">
</head>
<body>

<div class="form">
    <form method="post" action="/register" th:object="${registerRequest}">
        <h1>Student Registration</h1>

            <div class="field-wrap">
                <input type="text" name="login" placeholder="User Name" required autocomplete="off" />
            </div>


            <div class="field-wrap">
                <input type="email" name="email" placeholder="Email Address" required autocomplete="off"/>
            </div>

            <div class="field-wrap">
                <input type="password" name="password" placeholder="Set A password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" autocomplete="off"/>
            </div>

            <button type="submit" class="button button-block">Submit</button>
            <a href="/login">Navigate to login | </a>
            <a href="/">Navigate to main page</a>

    </form>

    </div>

</body>
</html>